html,
body {
  margin: 0%;
}

.form-r {
  width: 100%;
  background: url(/src/images/book-Store.jpg) no-repeat center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: cover !important;
}
